<p style="color: green"><%= notice %></p>

<div class="row text-center wrap col-xs-4 col-xs-offset-4"  style="padding: 2rem;">
  <h1>Admin's bookings page</h1>
</div>

<div id="bookings" class="wrap col-xs-8 col-xs-offset-2">
  <% @bookings.each do |booking| %>
    <%= render booking %>
    <hr style="margin: 0"/>
  <% end %>
</div>