<div class="row text-center wrap col-xs-4 col-xs-offset-4"  style="padding: 2rem;">
  <h1>Admin's bookings page</h1>
</div>

<div id="bookings" class="wrap col-xs-8 col-xs-offset-2">
  <% @bookings.each do |booking| %>
    <%= render booking %>
    <hr style="margin: 0"/>
  <% end %>
  <%= button_to 'Download CSV report', "bookings_controller.csv", method: :get %>
  <%= button_to 'Download XLSX report', "bookings_controller.xlsx", method: :get %>
</div>

<div class="col-xs-8 col-xs-offset-2 digg_pagination">
  <%= will_paginate @bookings %>
</div>