<div class="row">
  <div class="row text-center wrap col-xs-4 col-xs-offset-4"  style="padding: 2rem; margin-bottom: 2rem;">
    <h1>Create room</h1>
  </div>

  <%= render 'shared/errors', obj: @room if defined? @room %>

  <div class="row col-xs-8 col-xs-offset-2">
    <%= render "form" %>
  </div>
</div>