<div class="row text-center wrap header col-xs-4 col-xs-offset-4">
  <h1>Welcome to the Hotel California!!</h1>
</div>

<div class="row text-center wrap header col-xs-4 col-xs-offset-4" style="margin-top: 2rem;">
  <p>Such a lovely place...</p>
</div>

<div class="row text-center wrap header col-xs-4 col-xs-offset-4" style="margin-top: 2rem; margin-bottom: 2rem;">
  <h2>Our photos</h2>
</div>

<%= render "shared/carousel", obj: @images %>