<div class="row text-center wrap col-xs-4 col-xs-offset-4" style="padding: 1rem;">
  <h1>Book the room</h1>
</div>

<p style="color: green"><%= notice %></p>

<div class="wrap col-xs-8 col-xs-offset-2" style="margin-top: 2rem; margin-bottom: 2rem;">
  <%= render "rooms/room", obj: @room %>
</div>
<%= render "form" %>
