$navbar-default-bg: black;
@import "bootstrap-sprockets";
@import "bootstrap";
#logo {
  float: left;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
#logo:hover {
  color: #fff;
  text-decoration: none;
}
.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}
.article-title {
  font-weight: bold;
  font-size: 1.5em;
}
.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}
.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}
.description {
  margin-top: 0;
}
.listing {
  list-style: none;
  padding-left: 0;
}
.navbar {
  border-radius: 0;
}
.navbar-default .navbar-nav > li > a {
  color: white;
}
.nav button {
  background-color: black;
  color: white;
}
.wrap {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 1rem;
  box-shadow: 2px 3px 9px #AAAAAA;
}

#form, #carousel {
  margin-bottom: 2rem;
}
.reviews-wrap, .rooms-wrap, .bookings-wrap {
  padding: 2rem;
}
.header {
  padding: 1rem;
}
.reviews-header {
  padding: 2rem;
  margin-bottom: 2rem;
}
hr {
  margin: 0;
}
body {
  background: url("21133091.jpg") fixed;
  overflow-x: hidden;
}
#rooms, #bookings, #reviews {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
#rooms-table {
  border: 3px solid;
  width: 100%;
}
.admin-rooms-wrapper {
  border-radius: 0;
  margin-top: 2rem;
}

.digg_pagination {
  background: white;
  cursor: default;
  border-radius: 1rem;
}
.digg_pagination a, .digg_pagination span, .digg_pagination em {
  padding: 0.2em 0.5em;
  display: block;
  float: left;
  margin-right: 1px; }
.digg_pagination .disabled {
  color: #999999;
  border: 1px solid #dddddd; }
.digg_pagination .current {
  font-style: normal;
  font-weight: bold;
  background: #2e6ab1;
  color: white;
  border: 1px solid #2e6ab1; }
.digg_pagination a {
  text-decoration: none;
  color: #105cb6;
  border: 1px solid #9aafe5; }
.digg_pagination a:hover, .digg_pagination a:focus {
  color: #000033;
  border-color: #000033; }
.digg_pagination .page_info {
  background: #2e6ab1;
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center; }
.digg_pagination .page_info b {
  color: #000033;
  background: #6aa6ed;
  padding: 0.1em 0.25em; }
.digg_pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }
* html .digg_pagination {
  height: 1%; }
*:first-child + html .digg_pagination {
  overflow: hidden; }
#disabled {
  pointer-events: none;
}
.img-link {
  display: inline;
  background-color: white;
}
.carousel {
  position: relative;
  padding: 10px 40px;
  border: 1px solid #CCC;
  border-radius: 15px;
  background: #eee;
}

.carousel img {
  display: block;
}

.arrow {
  position: absolute;
  top: 60px;
  padding: 0;
  background: #ddd;
  border-radius: 15px;
  border: 1px solid gray;
  font-size: 24px;
  line-height: 24px;
  color: #444;
  display: block;
}

.arrow:focus {
  outline: none;
}

.arrow:hover {
  background: #ccc;
  cursor: pointer;
}

.prev {
  left: 7px;
}

.next {
  right: 7px;
}

.gallery {
  overflow: hidden;
}

.gallery ul {
  margin: 0;
  padding: 0;
  list-style: none;
  transition: margin-left 250ms;
  font-size: 0;
}

.gallery li {
  display: inline-block;
}

label {
  background-color: white;
}