<div class="row">
  <div class="row text-center wrap reviews-header col-xs-4 col-xs-offset-4">
    <h1>Reviews</h1>
    <h2>Write your own review!</h2>
  </div>

  <%= render 'shared/errors', obj: @review if defined? @review %>

  <div>
    <%= render "form" %>
  </div>
</div>

<div id="reviews" class="wrap col-xs-8 col-xs-offset-2">
  <% @reviews.each do |review| %>
    <%= render review %>
    <hr/>
  <% end %>
</div>

<div class="col-xs-8 col-xs-offset-2 digg_pagination">
  <%= will_paginate @reviews %>
</div>